<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <ngx-avatar
        size="50"
        class="my-avatar"
        value="{{ post.username.split('')[0] }}"
      >
      </ngx-avatar>
    </div>
    <div class="nav">
      <div>
        <mat-card-title>{{ post.username }}</mat-card-title>
        <mat-card-subtitle>Location</mat-card-subtitle>
      </div>
      <div class="date">
        <mat-card-subtitle class="creator_date">2 hours ago</mat-card-subtitle>
      </div>
    </div>
  </mat-card-header>
  <label for=""><div>BYłem dzisiaj na nartach</div></label>

  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-actions>
    <button mat-button>Like</button>
    <button mat-button>Comments</button>
  </mat-card-actions>
</mat-card>
