@use "@angular/material" as mat;
@import "@angular/material/theming";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@500&family=Source+Sans+Pro:wght@300;400;700;900&display=swap");
@import "ngx-toastr/toastr";
@import "@ctrl/ngx-emoji-mart/picker";
@import "@angular/material/theming";
@include mat.core();
@import "../src//app//pages/posts/creator//creator.component.scss";

@mixin component-themes($theme) {
  @include creator-theme($theme);
}

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include component-themes($theme);

.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-pink);
  $dark-accent: mat-palette($mat-amber);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;

  font-family: "Anton", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

// // Custom styles
// .padded {
//   padding: 20px;
// }

// .warn {
//   color: $warn;
//   font-weight: bold;
// }
