<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (submit)="loginHandler()">
      <div>
        <mat-form-field>
          <input
            class="input"
            type="text"
            matInput
            placeholder="Username..."
            formControlName="username"
          />
        </mat-form-field>
        <div
          *ngIf="
            loginForm.get('username')?.dirty &&
            loginForm.get('username')?.touched
          "
        >
          <mat-error color="warn"
            ><small *ngIf="loginForm.get('username')?.errors?.['required']"
              >Username is required</small
            >
            <small *ngIf="loginForm.get('username')?.errors?.['minlength']"
              >Username has to min 3 elements</small
            >
          </mat-error>
        </div>
      </div>
      <div>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password..."
            formControlName="password"
          />
        </mat-form-field>
        <div
          *ngIf="
            loginForm.get('password')?.dirty &&
            loginForm.get('password')?.touched
          "
        >
          <mat-error color="warn"
            ><small *ngIf="loginForm.get('password')?.errors?.['required']"
              >password is required</small
            >
            <small *ngIf="loginForm.get('password')?.errors?.['minlength']"
              >password has to min 3 elements</small
            >
          </mat-error>
        </div>
      </div>
      <div class="button">
        <button type="submit" mat-flat-button color="primary">Login</button>
      </div>
      <div class="info">
        <small>You don't have an account</small>
        <a (click)="modeChanged()" class="register_route">Create an account</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
