<div class="container">
  <div class="content_container">
    <div class="left_container">
      <div class="title_container">
        <h1 class="title_text">{{ "WELCOME" | translate }}</h1>
        <p class="small_text">{{ "JOIN" | translate }}</p>
        <div class="action_container">
          <button (click)="goLoginpage()" mat-raised-button color="primary">
            {{ "REGISTER" | translate }}
          </button>
          -- {{ "OR" | translate }} --
          <button (click)="goLoginpage()" mat-raised-button color="primary">
            {{ "LOGIN" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="right_container"></div>
  </div>
  <div class="social_container">
    <div class="social_title">{{ "SOCIALS" | translate }}</div>
    <div class="social_icons">
      <img
        src="/assets/images/facebook.png"
        alt="facebook"
        class="social_image"
      />
      <img
        src="/assets/images/linkedin.png"
        alt="linkedin"
        class="social_image"
      />
      <img
        src="/assets/images/instagram.png"
        alt="instagram"
        class="social_image"
      />
    </div>
  </div>
</div>
