<div class="creator_container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <ngx-avatar size="50" class="my-avatar" value="B"> </ngx-avatar>
      </div>
      <mat-card-title>Blejn</mat-card-title>
      <mat-card-subtitle>Location</mat-card-subtitle>
    </mat-card-header>
    <textarea class="creator_text" name="" id="" cols="30" rows="10"></textarea>

    <mat-card-actions>
      <button mat-button>Emoji</button>
      <button mat-button>Location</button>
      <button mat-button>Photo</button>
      <button class="add_button" mat-raised-button color="primary">Add</button>
    </mat-card-actions>
  </mat-card>
</div>
