<mat-card>
  <mat-card-title>Registration</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registerForm" (submit)="registerHandler()">
      <div>
        <mat-form-field>
          <input
            class="input"
            type="text"
            matInput
            placeholder="Username..."
            formControlName="username"
          />
        </mat-form-field>
        <div *ngIf="registerForm.get('username')?.pending">
          <mat-error color="warn"> Checking username </mat-error>
        </div>
        <div
          *ngIf="
            registerForm.get('username')?.dirty &&
            registerForm.get('username')?.touched
          "
        >
          <mat-error color="warn"
            ><small *ngIf="registerForm.get('username')?.errors?.['required']"
              >Username is required</small
            >
            <small *ngIf="registerForm.get('username')?.errors?.['minlength']"
              >Username has to min 3 elements</small
            >
            <small
              *ngIf="registerForm.get('username')?.getError('usernameExist')"
              >Username already</small
            >
          </mat-error>
        </div>
      </div>
      <!-- PASSWORD -->
      <div>
        <mat-form-field>
          <input
            emailValidation
            type="password"
            matInput
            placeholder="Password..."
            formControlName="password"
          />
        </mat-form-field>
        <div
          *ngIf="
            registerForm.get('password')?.dirty &&
            registerForm.get('password')?.touched
          "
        >
          <mat-error color="warn"
            ><small *ngIf="registerForm.get('password')?.errors?.['required']"
              >password is required</small
            >
            <small *ngIf="registerForm.get('password')?.errors?.['minlength']"
              >password has to min 3 elements</small
            >
          </mat-error>
        </div>
      </div>
      <!--Repeat Password -->
      <div>
        <mat-form-field>
          <input
            emailValidation
            type="password"
            matInput
            placeholder="Repeat password..."
            formControlName="repeatPassword"
          />
        </mat-form-field>
        <div
          *ngIf="
            registerForm.get('repeatPassword')?.dirty &&
            registerForm.get('repeatPassword')?.touched
          "
        >
          <mat-error color="warn"
            ><small
              *ngIf="registerForm.get('repeatPassword')?.errors?.['required']"
              >password is required</small
            >
            <small
              *ngIf="registerForm.get('repeatPassword')?.errors?.['passwordNotMatch']"
              >Passwords are not the same</small
            >
          </mat-error>
        </div>
      </div>
      <!-- FIRSTNAME -->
      <div>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Firstname..."
            formControlName="firstname"
          />
        </mat-form-field>
        <div
          *ngIf="
            registerForm.get('firstname')?.dirty &&
            registerForm.get('firstname')?.touched
          "
        >
          <mat-error color="warn"
            ><small *ngIf="registerForm.get('firstname')?.errors?.['required']"
              >password is required</small
            >
          </mat-error>
        </div>
      </div>
      <!-- LASTNAME -->
      <div>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Lastname..."
            formControlName="lastname"
          />
        </mat-form-field>
        <div
          *ngIf="
            registerForm.get('lastname')?.dirty &&
            registerForm.get('lastname')?.touched
          "
        >
          <mat-error color="warn"
            ><small *ngIf="registerForm.get('lastname')?.errors?.['required']"
              >lastname is required</small
            >
          </mat-error>
        </div>
      </div>
      <!-- location -->
      <div>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="City..."
            formControlName="location"
          />
        </mat-form-field>
        <div
          *ngIf="
            registerForm.get('city')?.dirty && registerForm.get('city')?.touched
          "
        >
          <mat-error color="warn"
            ><small *ngIf="registerForm.get('city')?.errors?.['required']"
              >City is required</small
            >
          </mat-error>
        </div>
      </div>
      <!-- EMAIL -->
      <div>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Email..."
            formControlName="email"
          />
        </mat-form-field>
        <div
          *ngIf="
            registerForm.get('email')?.dirty &&
            registerForm.get('email')?.touched
          "
        >
          <mat-error color="warn"
            ><small *ngIf="registerForm.get('email')?.errors?.['required']"
              >City is required</small
            >
          </mat-error>
        </div>
      </div>
      <!--  -->
      <!-- profilePicture -->
      <div>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="profile picture..."
            formControlName="profile_picture"
          />
        </mat-form-field>
      </div>
      <!--  -->
      <div class="button">
        <button type="submit" mat-flat-button color="primary">
          Create an account
        </button>
      </div>
      <div class="info">
        <small>You don't have an account</small>
        <a (click)="modeChanged()" class="register_route">Create an account</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
